form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    font-weight: bold;
  }
  
  .pw {
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }