<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.foodychat.user.dao.PasswordResetTokenMapper">

    <!-- 1. 토큰 저장 -->
    <insert id="insertToken" parameterType="com.foodychat.user.vo.PasswordResetToken">
        INSERT INTO password_reset_token (token, email, expiry_date, user_id)
        VALUES (#{token}, #{email}, #{expiryDate}, #{userId})
    </insert>

    <!-- 2. 토큰으로 검색 -->
    <select id="findByToken" resultType="com.foodychat.user.vo.PasswordResetToken">
        SELECT token, email, expiry_date as expiryDate, user_id as userId
        FROM password_reset_token
        WHERE token = #{token}
    </select>

    <!-- 3. 토큰 삭제 -->
    <delete id="deleteToken">
        DELETE FROM password_reset_token
        WHERE token = #{token}
    </delete>

</mapper>
